body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
   
        font-family: Arial, sans-serif;
        background-image: url('anasayfa.jpg'); 
        background-size: cover; 
        background-position: center center;
        background-attachment: fixed; 
}


.navbar {
    background-color: #0077b6;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.navbar .logo a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    display: inline;
    margin: 0 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #00b4d8;
}


.container ul h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #0077b6;
    padding: 20px;
}


.container ul li {
    text-align: center;
    margin: 15px 0;
}

.container ul li a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #00b4d8;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container ul li a:hover {
    background-color: #0077b6;
    color: white;
}